@charset "utf-8";

body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #222;
}

.mydiv {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    height: 800px;
    width: 900px;
    background-color: #FFF;
}

.mydiv2 {
    margin-top: 10px;
    padding-top: 20px;  
    padding-bottom: 20px;  
    background-color: #FFF;
}

table, th, td {
    height: 50px; 
}
